html {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white
}
h4 {
  font-size:18px;
  color: white;
}
h2 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
#navigation {
  background-image: url("the-flatiron-building.png");
}
#newyork {
  background-image: url("the-flatiron-building.png");
}
#footer {
  color: white;
  background-color: dimgray;
  font-size: 18px;
}
mark. copyright {
  font-size:11px;
  background-color: dimgray;
}
